#requestServices {
	height: 118px;
	background: url(/i/request_copy.gif) no-repeat 0 25px;
	position: relative;
}

#requestServices p, #requestServices a {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}

#requestServices a {
	height: 118px;
	width: 132px;
	background: url(/i/picket.gif) no-repeat 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

#requestServices a:hover {
	background-position: -132px 0;
}

#who {
	font-size: 14px;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#who h2 {
	display: block;
	height: 34px;
	width: 220px;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/i/who.gif) no-repeat 0 0;
	margin-bottom: 10px;
}

#who p {
	margin: 0;
}