/* @group Boilerplate */

/* @group Reset */

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align: baseline;
	background-repeat: no-repeat;
	background-position: 0 0;
}  

:focus, :active {
	outline: 0;
}               

article, aside, figure, footer, header, hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* @end */

/* @group Tags */

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

ol, ul {
	list-style: none;
}

/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body { font-size:13px; *font-size:small; *font:x-small; line-height:1.3; font-family: Helvetica, sans-serif;}

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#2d2d2d; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }

ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* @end */

/* @group Special */

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-9999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after, .cf:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix, .cf { display: inline-block; }
* html .clearfix, * html .cf { height: 1%; } /* Hides from IE-mac \*/
.clearfix, .cf { display: block; }

/* @end */

@media print {
/* 
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */

  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* @group Responsive design */
@media screen and (max-device-width: 480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}

/* @end */

/* @end */

/* @group Tags */

body.comp {
	text-align: center;
}

body {
	background: #fff url(/images/hill.gif) no-repeat center 20px;
	text-align: left;
	color: #2d2d2d;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

p, ul, table, ol {
	margin-bottom: 1.2em;
}

strong, b, .bold {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 40px;
	color: #f08b31;
	margin-bottom: 10px;
	font-weight: normal;
	text-transform: lowercase;
}

h2 {
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #73bbb7;
	margin-bottom: 5px;
}

h3 {
	font-size: 12px;
	font-weight: normal;
	color: #f08b31;
	margin-bottom: 10px;
	border-top: solid 1px #ccc;
	padding-top: 15px;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #5f5f5f;
	margin-top: 15px;
}

table, td, tr {
	border: 1px solid #dbd9d9;
}

td {
	padding: 5px;
}

ol {
	list-style-type: decimal;
}

ol li {
	padding: 0;
	background: none;
	list-style-type: decimal;
}

/* @end */

/* @group Layout */

#page {
	width: 940px;
	margin: 20px auto;
	text-align: left;
	padding: 0 20px;
}

#header {
	height: 184px;
	position: relative;
}

#rail {
	float: left;
	text-align: center;
}

#content {
	float: left;
	width: 478px;
	padding-top: 40px;
}


/* @end */

/* @group Header */

#logo {
	position: absolute;
	top: 40px;
	left: 0;
}

#contactInfo {
	position: absolute;
	width: 132px;
	top: 20px;
	right: 10px;
}

#email {
	display: block;
	float: right;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/contact_email.gif) no-repeat 0 0;
	width: 146px;
	height: 21px;
	margin-bottom: 4px;
}

#email:hover { background-position: -146px 0;}

#phone {
	display: block;
	float: right;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/contact_phone.gif) no-repeat 0 0;
	width: 87px;
	height: 17px;
}

#mainNav {
	position: absolute;
	right: 46px;
	top: 132px;
}

#mainNav li {
	display: inline-block;
	margin-left: 29px;
}

#mainNav a {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/main_nav.gif) no-repeat 0 0;
	height: 40px;
}

#services a { width: 120px;}
#request a { width: 120px; background-position: -147px 0;}
#about a { width: 42px; background-position: -295px 0;}
#contact a { width: 76px; background-position: -365px 0;}

#services a:hover { background-position: 0 -40px;}
#request a:hover { background-position: -147px -40px;}
#about a:hover { background-position: -295px -40px;}
#contact a:hover { background-position: -365px -40px;}

.services #services a { background-position: 0 -80px;}
.request #request a { background-position: -147px -80px;}
.about #about a { background-position: -295px -80px;}
.contact #contact a { background-position: -365px -80px;}

/* @end */

/* @group Content */

.white { color:#fff;}

a.dblArrow {
	display: inline-block;
	margin-left: 4px;
	width: 18px;
	height: 10px;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/double_arrow.gif) no-repeat 0 0;
}

a.dblArrow:hover {
	background-position: 0 -10px;
}

a.moreButton {
	display: inline-block;
	margin-left: 4px;
	font-size: 13px;
	line-height: 17px;
	width: 57px;
	height: 17px;
	text-align: center;
	background: url(/images/more_bg.gif) no-repeat 0 0;
}

#content h2 { display: block; height: 34px; text-indent: -9999em; overflow: hidden; margin-bottom: 30px;}
.services #content h2 { background: url(/images/services-and-rates.gif) no-repeat 0 0; width: 288px;}
.request #content h2 { background: url(/images/request-services.gif) no-repeat 0 0; width: 288px;}
.about #content h2 { background: url(/images/about-us.gif) no-repeat 0 0; width: 288px;}
.contact #content h2 { background: url(/images/contact-us.gif) no-repeat 0 0; width: 179px;}

#rail.video {
	padding-top: 70px;
	margin-top: 35px;
	width: 370px;
	height: 221px;
	margin-right: 68px;
	background: url(/images/dog_house.png) no-repeat 0 0;
}


#rail.photo { 
	height: 85px; 
	width: 320px; 
	padding-top: 230px; 
	padding-left: 66px; 
	margin-top: 70px; 
	margin-right: 52px;
}

#rail.photo .caption {
	padding-top: 21px; 
	padding-left: 55px; 
	background: url(/images/caption-arrow.png) no-repeat 0 0;
}

#rail.photo .caption span {display: block; text-indent: -9999em; overflow: hidden;}

#rail.piper { background: url(/images/piper-photo.jpg) no-repeat 0 0;}
#rail.piper .caption span { background: url(/images/piper-caption.gif) no-repeat 0 0; width: 245px; height: 61px;}

#requestServices {
	height: 118px;
	padding: 42px 0 0 145px;
	position: relative;
	margin-top: 25px;
}

#requestServices a.picket {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}

#requestServices a.picket {
	height: 118px;
	width: 132px;
	background: url(/images/picket.gif) no-repeat 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

#requestServices a.picket:hover, #requestServices a:hover + a.picket {
	background-position: -132px 0;
}

p.info { margin-bottom: 5px; margin-left: 60px;}
.info span { display: block; float: left; width: 50px; text-align: right; margin-right: 20px;}
.info b { font-weight: normal; display: block; float: left;}

/* @end */


/* @group Footer */

#footerWrap {
	background-color: #fff;
}

#footer {
	margin: 55px auto 0;
	padding: 20px 0 30px;
	width: 940px;
}

#footer a, #footer a:hover {
	color: #2d2d2d;
}

#footer a:hover {
	text-decoration: underline;
}

#footer #address {
	float: right;
	text-align: right;
}

/* @end */

