/* @group Boilerplate */

/* @group Reset */

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align: baseline;
	background-repeat: no-repeat;
	background-position: 0 0;
}  

:focus, :active {
	outline: 0;
}               

article, aside, figure, footer, header, hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* @end */

/* @group Tags */

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

ol, ul {
	list-style: none;
}

/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body { font-size:13px; *font-size:small; *font:x-small; line-height:1.3; font-family: Helvetica, sans-serif;}

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#2d2d2d; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }

ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* @end */

/* @group Special */

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-9999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after, .cf:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix, .cf { display: inline-block; }
* html .clearfix, * html .cf { height: 1%; } /* Hides from IE-mac \*/
.clearfix, .cf { display: block; }

/* @end */

@media print {
/* 
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */

  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* @group Responsive design */
@media screen and (max-device-width: 480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}

/* @end */

/* @end */

/* @group Tags */

body.comp {
	text-align: center;
}

body {
	background: #80cd3e url(/images/hill.gif) no-repeat center 0;
	text-align: left;
	color: #2d2d2d;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #fff;
}

p, ul, table, ol {
	margin-bottom: 1.2em;
}

strong, b, .bold {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #fff;
	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}

h5 {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}

table, td, tr {
	border: 1px solid #dbd9d9;
}

td {
	padding: 5px;
}

ol {
	list-style-type: decimal;
}

ol li {
	padding: 0;
	background: none;
	list-style-type: decimal;
}

/* @end */

/* @group Layout */

#bumper {height:20px; width:100%; background:#fff !important;}

#page {
	width: 940px;
	margin: 0 auto;
	text-align: left;
	padding: 0 20px; 
}

#header {
	height: 184px;
	position: relative;
}

#rail {
	float: left;
	text-align: center;
}

#content {
	float: left;
	width: 478px;
	padding-top: 40px;
}


/* @end */

/* @group Header */

#logo {
	position: absolute;
	top: 40px;
	left: 0;
}

#contactInfo {
	position: absolute;
	width: 132px;
	top: 20px;
	right: 10px;
}

#emailLink {
	display: block;
	float: right;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/contact_email.gif) no-repeat 0 0;
	width: 146px;
	height: 21px;
	margin-bottom: 4px;
}

#emailLink:hover { background-position: -146px 0;}

#phone {
	display: block;
	float: right;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/contact_phone.gif) no-repeat 0 0;
	width: 87px;
	height: 17px;
}

#mainNav {
	position: absolute;
	right: 42px;
	top: 132px;
}

#mainNav li {
	display: inline-block;
	margin-left: 26px;
}

#mainNav a {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/main_nav.gif) no-repeat 0 0;
	height: 43px;
}

#services a { width: 119px;}
#request a { width: 120px; background-position: -145px 0;}
#why a { width: 56px; background-position: -290px 0;}
#contact a { width: 76px; background-position: -367px 0;}

#services a:hover { background-position: 0 -43px;}
#request a:hover { background-position: -145px -43px;}
#why a:hover { background-position: -290px -43px;}
#contact a:hover { background-position: -367px -43px;}

.services #services a { background-position: 0 -86px;}
.request #request a { background-position: -145px -86px;}
.why #why a { background-position: -290px -86px;}
.contact #contact a { background-position: -367px -86px;}

/* @end */

/* @group Content */

.white { color:#fff;}
.black, a.black, a.black:hover {color:#2d2d2d;}
.small {font-size:.9em;}
.underlined {text-decoration:underline;}

.right-txt {text-align:right;}

.hide {display:none;}

.plainLink a, a.plainLink {text-decoration:none;}

a.dblArrow {
	display: inline-block;
	margin-left: 4px;
	width: 18px;
	height: 10px;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/double_arrow.gif) no-repeat 0 0;
}

a.dblArrow:hover {
	background-position: 0 -10px;
}

a.moreButton {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align:top;
	margin-left: 4px;
	width: 77px;
	height: 31px;
    min-height: 31px;
	background: url(/images/more_btn.gif) no-repeat 0 0;
	zoom: 1;
	*display: inline;
	_height: 31px;
}

a.moreButton:hover { background-position: 0 -31px; }

#content h1 { display: block; height: 42px; text-indent: -9999em; overflow: hidden; margin-bottom: 30px;}
.services #content h1 { background: url(/images/services-and-rates.gif) no-repeat 0 0; width: 288px;}
.request #content h1 { background: url(/images/request-services.gif) no-repeat 0 0; width: 282px;}
.why #content h1 { background: url(/images/why-wd.gif) no-repeat 0 0; width: 308px; height:47px;}
.contact #content h1 { background: url(/images/contact-us.gif) no-repeat 0 0; width: 179px;}
.whypetsitting #content h1 { background: url(/images/why-pet-sitting.gif) no-repeat 0 0; width: 483px; height:45px;}
.serviceagreement #content h1 { background: url(/images/service-agreement.gif) no-repeat 0 0; width: 317px; height:45px;}

#rail.video {
	padding-top: 70px;
	margin-top: 35px;
	width: 370px;
	height: 221px;
	margin-right: 68px;
	background: url(/images/dog_house.png) no-repeat 0 0;
}

#rail.video img {margin-top: 15px;}

#rail.photo { 
	margin-top: 70px; 
	margin-right: 52px;
}

#requestServices {
	height: 118px;
	padding: 42px 0 0 120px;
	position: relative;
	margin-top: 25px;
}

#printPDF {
	height: 136px;
	position: relative;
}

a.picket {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}

#requestServices a.picket {
	height: 162px;
	width: 173px;
	background: url(/images/picket.gif) no-repeat 0 0;
	position: absolute;
	right: 20px;
	top: 0;
}

#printPDF a.picket {
	height: 136px;
	width: 144px;
	background: url(/images/print_picket.gif) no-repeat 0 0;
	position: absolute;
	right: 20px;
	top: 0;
}

#requestServices a.picket:hover, #requestServices a:hover + a.picket {
	background-position: -1px -162px;
}

#printPDF a.picket:hover { background-position: -144px -1px; }

.services #printPDF {float: right; margin-top: -45px;}

.larger { font-size: 14px; line-height: 20px;}

p.info { margin-bottom: 5px; margin-left: 60px; font-size: 19px;}
.info span { display: block; float: left; width: 54px; height: 19px; text-indent: -9999px; margin-right: 10px;}
#phone-label span {background:url(/images/phone_label.gif) no-repeat right 0;}
#email-label span {background:url(/images/email_label.gif) no-repeat right 0;}
#email-label a {color:#2d2d2d;}

.inset {margin: 24px 0 24px 50px;}

label, input.text, select { display:inline-block; margin-bottom: 4px;}

label { width: 162px; text-align: right; margin-right: 8px;}
label.textarea { width: 100%; text-align: left; margin: 0;}
input + label.textarea { margin: 10px 0 0;}
label.radio { width: auto; text-align: left; margin: 0;}
label.radio + label.textarea { margin-top: 0;}

input.text:focus, textarea:focus { border-color: #231f20;}
input.text { width: 192px; height: 17px; margin-right:102px; border: solid 2px #80cd3e; padding: 4px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}
input#zip { width: 122px; margin-right:174px;}
select { width: 130px; margin-right:172px; padding: 2px;}

textarea { width: 362px; border: solid 2px #80cd3e; padding: 4px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin-bottom: 10px;}

input.text:focus, textarea:focus { border-color: #444;}

#submit { display: block; text-indent: -9999em; overflow: hidden; height: 54px; width: 153px; background: url(/images/submit.gif) no-repeat 0 0; border: none; margin: 20px 0 0 104px;}
#submit:hover { background-position: 0 -54px;}

.request h2.ir, .request h3.ir {}
h2#initial-visit {background:url(/images/initial-visit.gif) no-repeat 0 0; width:80px; height:16px;}
h3#initial-how-to {background:url(/images/initial-how-to.gif) no-repeat 0 0; width:232px; height:20px;}
h2#initial-visit-form {background:url(/images/initial-visit-form.gif) no-repeat 0 0; width:194px; height:20px;}
.request ul {list-style-type:disc; padding-left:15px;}
h3#initial-how-to + p {margin:0;}

.services h3 {display:block; text-indent:-9999px; overflow:hidden; width:478px; height:22px; background-position:0 0; background-repeat: no-repeat;}
.services p + h2 {margin-top:25px;}
.services h2 {height: 60px; width: 153px; background-position:0 0;}
.services h2#ourservices {background-image:url(/images/our-services.gif);}
.services h2#neverextra {background-image:url(/images/never-extra.gif);}
.services h2#bytheway {background-image:url(/images/by-the-way.gif);}

.services h3#service01 {background-image:url(/images/service01.gif);}
.services h3#service02 {background-image:url(/images/service02.gif);}
.services h3#service03 {background-image:url(/images/service03.gif);}
.services h3#service04 {background-image:url(/images/service04.gif);}
.services h3#service05 {background-image:url(/images/service05.gif);}
.services h3#service06 {background-image:url(/images/service06.gif);}
.services h3#service07 {background-image:url(/images/service07.gif);}
.services h3#service08 {background-image:url(/images/service08.gif);}
.services h3#service09 {background-image:url(/images/service09.gif);}
.services h3#service10 {background-image:url(/images/service10.gif);}
.services h3#service11 {background-image:url(/images/service11.gif);}
.services h3#service12 {background-image:url(/images/service12.gif);}

.why h3#why01 {background:url(/images/why01.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why02 {background:url(/images/why02.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why03 {background:url(/images/why03.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why04 {background:url(/images/why04.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why05 {background:url(/images/why05.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why06 {background:url(/images/why06.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why07 {background:url(/images/why07.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why08 {background:url(/images/why08.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why09 {background:url(/images/why09.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why10 {background:url(/images/why10.gif) no-repeat 0 0; width: 267px; height: 21px;}
.why h3#why11 {background:url(/images/why11.gif) no-repeat 0 0; width: 267px; height: 21px;}


.toTop {display:inline-block; margin-top:5px; text-decoration:none;}

.whypetsitting h3#pet-sitting {background:url(/images/pet-sitting.gif) no-repeat 0 0; width: 130px; height: 50px;}
.whypetsitting h3#why-pet-sitting {background:url(/images/why-pet-sitter.gif) no-repeat 0 0; width: 211px; height: 18px;}
.whypetsitting h3#dog-walking {background:url(/images/dog-walking.gif) no-repeat 0 0; width: 130px; height: 50px;}

.whypetsitting ul h3 {color:#2d2d2d;}

#psi-badge {
	width: 171px;
	height: 155px;
	background-image: url(/images/psi-badge.gif);
	background-position: 0 0;
	margin-left: -17px;
}

.request #psi-badge {
	margin: 100px auto 0;
}

.why #psi-badge {
	margin: 30px auto 0;
}

#whypetsitting {
	width: 316px;
	height: 91px;
	background-image: url(/images/whypetsitting-btn.gif);
	background-position: 0 0;
	margin: 0 auto 20px;
}

#youtube {margin-bottom: 60px;}

ul.bullets {
	list-style-type: disc;
	padding-left: 20px;
	margin: 20px 0 20px 20px;
}

#clients {
	color: #2d2d2d;
	width: 318px;
	display:inline-block;
	margin-bottom: 20px;
	font-size: 11px;
}
#clients-top, #clients-bot {height: 28px; width: 318px;}
#clients-top {background:url(/images/client-box-top.gif) no-repeat 0 0;}
#clients-bot {background:url(/images/client-box-bot.gif) no-repeat 0 0;}
#clients-content {width:268px; background:url(/images/client-box-fill.gif) repeat-y 0 0; padding: 10px 25px; text-align:left;}
#clients-content h3 {width:264px; height:26px; background:url(/images/clients-say.gif) no-repeat 0 0; margin-bottom:10px;}
#clients-content h4 {font-size:11px; color:#2d2d2d; text-align:center; margin:20px 0;}
#clients-content p {padding-left:3px;}
#clients-content .client-quote {padding:0 21px; font-size:14px;}

.smallPhoto {margin:10px 0 0;}
.smallPhoto.left {margin-right:5px;}

.rightWrap {float:right; margin-left:5px;}
.rightWrap.cpr {margin-top:20px; margin-bottom:20px;}
.rightWrap.cpr:hover {text-decoration:none;}
.rightWrap.cpr span, .rightWrap.cpr span:hover {text-decoration:underline;}

#content.thankyou {height:400px;}
/* @end */


/* @group Footer */

#footerWrap {
	background-color: #fff;
}

#footer {
	margin: 55px auto 0;
	padding: 20px 0 30px;
	width: 940px;
	text-align: center;
}

#footer a, #footer a:hover {
	color: #2d2d2d;
}

#footer a:hover {
	text-decoration: underline;
}

#footer li {
	display: inline-block;
	margin-left: 1px;
	padding-left: 5px;
	border-left: 1px solid #2D2D2D;
}

#footer li:first-child {
	margin: 0;
	padding: 0;
	border: none;
}


/* @end */

